<h3>I'm in the AppComponent</h3>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <app-servers></app-servers>
      <!--<div app-servers></div>-->
    <!--<div class="app-servers"></div>-->
    </div>
  </div>
</div>
<hr/>
<br/>
<h4>New [component&DataBinding]</h4>
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bluePrint)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
